@media (min-width: 1120px) {

    .container {
        max-width: 1100px;
        margin: 0 auto;
    }

    .header {
        padding-top: 37px;
    }

    .header__inner {
        flex-direction: row;
        justify-content: space-between;
    }

    .header__logo {
        margin-top: 0px;
    }

    .after-head {
        min-height: auto;
    }

    .after-head__title {
        font-size: 52px;
        min-width: 503px;
    }

    .after-head__sub-title {
        padding-top: 40px;
        min-width: 398px;
        font-size: 24px;
    }
    
    .after-head__button-wrapper {
        padding-top: 33px;
        text-align: center;
    }

    .holiday-partners__inner {
        padding: 72px 0;
    }

    .holiday-partners__title {
        max-width: 421px;
    }

    .holiday-partners__list {
        width: 485px;
        margin: 0 auto;
        padding: 31px 0 0 0;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .holiday-partners__partner {
        width: 217px;
    }

    .holiday-partners__partner:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    .holiday__partners-button-wrapper {
        padding-top: 38px;
        text-align: center;
    }
}