html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  color: #626262;
  font-size: 14px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
p, h2 {
  margin: 0;
}
.container {
  width: 900px;
  margin: 0 auto;
}
/* navigation */
.page-nav {
  padding: 77px 0 100px;
}
.site-navigation {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 900px;
  font-size: 0px;
  list-style: none;
  text-align: center;
}
.site-navigation li {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.site-navigation li:not(:last-child) {
  margin-right: 142px;
}
.site-navigation a {
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #03a9f4;
}
/* content-block */
.section {
  display: inline-block;
  font-size: 0;
  line-height: 24px;
}
.section article:nth-child(odd) {
  margin-right: 60px;
}
.section article:nth-last-of-type(-n + 2) {
  margin-bottom: 0px;
}
.article {
  display: inline-block;
  width: 420px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-bottom: 110px;
}
.ubuntu {
  color: #b4ad9e;
  margin: 30px 0 28px;
  font-family: "Ubuntu", serif;
  font-weight: 300;
  line-height: 11px;
  text-transform: uppercase;
}
.heading {
  margin-bottom: 34px;
  font-size: 30px;
  font-weight: normal;
}
.button-wrapper {
  padding: 34px 0 70px;
  text-align: center;
}
.button {
  display: inline-block;
  background: #fff;
  color: #626262;
  border: 1px solid #626262;
  padding: 17px 26px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 20px;
}
