.container {
  width: 1112px;
  margin: 0 auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.header {
  margin-bottom: 105px;
}
.header-logo {
  float: left;
  margin: 0;
  padding-top: 38px;
  color: #555252;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  text-decoration: none;
}
.header-logo::first-letter {
  color: #1abc9c;
  font-weight: bold;
}
.navigation {
  float: right;
  margin: 0;
  padding-top: 44px;
}
.menu {
  margin: 0;
  padding: 0;
}
.menu li {
  float: left;
  list-style: none;
  text-transform: uppercase;
}
.menu li:not(:last-child) {
  margin-right: 35px;
}
.menu a {
  display: block;
  color: #0f0101;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.2px;
  text-decoration: none;
}
.menu a:hover,
.menu a:focus {
  color: #1abc9c;
}
.section {
  margin: 0;
  padding-bottom: 105px;
}
.title {
  color: #515151;
  margin: 0 0 90px;
  font-size: 48px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.title::after {
  display: block;
  margin: 31px auto;
  background-color: #1abc9c;
  width: 165px;
  height: 8px;
  content:'';
}
.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase
}
.product-item {
  float: left;
  width: 256px;
  margin-right: 29px;
  margin-bottom: 29px;
  background-color: #e9f0fd;
}
.product-item a:hover,
.product-item a:focus {
  background-color: #1abc9c;
}
.product-item:nth-child(4n+4) {
  margin-right: 0px;
}
.product-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}
.product-item a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", serif;
  font-weight: 900;
  background-color: #323232;
}
.image {
  float: right;
  width: 256px;
  height: 281px;
}
.product {
  margin: 0;
}
.product-name {
  float: left;
  box-sizing: border-box;
  padding: 15px 15px 13px;
}
.product-price {
  float: right;
  padding: 15px 12px 13px 13px;
  background-color: rgba(255, 255, 255, 0.439);
}
.news {
  float: left;
  width: 351px;
  color: #555252;
  line-height: 26px;
  text-align: left;
}
.news:not(:last-child) {
  margin-right: 29px;
}
.news img {
  display: block;
  width: 100%;
}
.news-title {
  margin: 13px 0 29px;
  font-size: 18px;
  font-family: "Open Sans", serif;
  font-weight: 600;
}
.news-title:after {
  display: block;
  margin: 10px 0;
  background-color: #4ec6ab;
  width: 137px;
  height: 4px;
  content: '';
}
.news-review {
  margin: 0 0 15px;
  font-size: 14px;
  font-family: "Open Sans", serif;
  font-weight: 400;
}
.news-read-more {
  display: inline-block;
  box-sizing: border-box;
  color: #fff;
  height: 52px;
  margin: 0;
  padding: 18px 40px;
  border-radius: 3px;
  line-height: 1;
  font-size: 16px;
  font-family: "Open Sans", serif;
  text-decoration: none;
  background-color: #4ec6ab;
}
.news-read-more:hover {
  background-color: #323232;
}